{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Inika:wght@400;700&family=Judson:wght@400;700&family=Kumbh+Sans:wght@400;500;700&family=Libre+Franklin:wght@300;400;700&display=swap" rel="stylesheet">

        <title>Korean Text Convertor</title>
    </head>
    <body>
    <script src="{% static 'javascript/script.js' %}"></script>
    
        <h1>
            Korean Text Convertor
        </h1>

        <p>
             This translator was creates using the NLP KoNLPy and a dictionary from an open source Korean dictionary.
        </p>

        <section>
            <h3>Enter Text:</h3>
            <form id="myForm" action="{% url 'process_text' %}" method="post">
                {% csrf_token %}
                <textarea name="inputText" cols="20" rows="10" id="enterTxt">이명함은 디자인이 인상적이서좋다.</textarea>
                <button class="click" onclick="submitForm()">TRANSLATE</button>
            </form>
        </section>  

    </body>
</html>