{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/vocablist.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Inika:wght@400;700&family=Judson:wght@400;700&family=Kumbh+Sans:wght@400;500;700&family=Libre+Franklin:wght@300;400;700&display=swap" rel="stylesheet">

    <title>Word List</title>
</head>

<body>
    <h1>Word List</h1>

    
    

    <div class="mininav">
        <a href="{% url 'translate' %}"><button>Go to Back</button></a>
        
        <div>
            <a href="{% url 'add-word' %}"><button>Add</button></a>
            <a href="{% url 'delete-all' %}"><button>Delete ALL</button></a>
        </div>
        
        <button>Go to Flashcards</button>
    </div>
    

    

    {% for word in words %}
    <div class='list'>
        <div class="translate">
            <p class="kWord">{{ word.k_word }}</p>
            <p class="kWord"><em>{{ word.epos }}</em></p>
            
            <p class="eword">{{ word.e_translation }}</p>
            <p class="eword">{{ word.e_sentence }}</p>
        </div>
        <div class="button">
            <button>Edit</button>
            <a href="{% url 'delete-item' custom_id=word.custom_id %}">
                <button>Delete</button>
            </a>
            
        </div>
        
    </div>
    {% endfor %}

    
</body>
</html>